/* app css stylesheet */
:root {
  --roundedMedium: 7px;
  --black: #000;
  --white: #fff;
  --dark-color: #202023;
  --light-color: #f0e7db;
  --secondary-color: #ffffff5c;
  --section-x-padding: 2rem;
  --text-accent-color: #319795;
  --text-secondary-color: #805ad5;
  overflow-y: auto;
  overflow-x: hidden;
  --danger: #fd8a8a;
  --success: linear-gradient(to right, #00b09b, #96c93d);
}
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}
a {
  text-decoration: none;
  color: var(--black);
}
.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.done {
  text-decoration: underline;
  font-weight: bold;
}
.todo-item {
  cursor: pointer;
}
.emp-card {
  width: 15rem;
  display: block;

  /* height: 18rem; */
  min-height: fit-content;
  border-radius: var(--roundedMedium);
  padding: 0.5rem;
  padding-bottom: 1.5rem;
  margin: 1rem 0.5rem;
  cursor: pointer;

  background: #b3ffab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b3ffab,
    #12fff7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b3ffab, #12fff7);
  box-shadow: 1px 1px 10px -5px var(--black);
  position: relative;
  transition: all 0.25s linear;
}
.emp-card:hover {
  box-shadow: 1px 1px 10px -3px var(--#805ad5);

  border-color: #805ad5;
}
.emp-ava {
  width: 100%;
  aspect-ratio: 1;
  border-radius: var(--roundedMedium);
  overflow: hidden;
}
.emp-no {
  padding: 0.35rem;
  border-radius: var(--roundedMedium);
  background-color: var(--danger);
  width: fit-content;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  /* transform: translate(0, -50%); */
  color: var(--white);
  font-weight: bold;
  font-size: 0.9rem;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.emp-name {
  text-align: center;
  margin: 0.75rem auto;
  font-size: 1.5rem;
}
h3 {
  margin: 0;
  font-weight: normal;
}
.emp-salary,
.emp-age {
  text-align: center;
}

.emp-list {
  --f-columns: 4;
  --f-gap: 20px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--f-gap));
  margin-bottom: calc(-1 * var(--f-gap));
}
.emp-list > * {
  margin-left: var(--f-gap);
  margin-bottom: var(--f-gap);
  width: calc((100% / var(--f-columns) - var(--f-gap)));
}
* {
  box-sizing: border-box;
}
body {
  position: relative;
}
.modal-wrapper {
  position: fixed;
  inset: 0;
  z-index: 10;
  /* background-color: var(--white); */
}
.modal-backdrop {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.modal-main {
  position: absolute;
  inset: 10% 20%;
  background-color: var(--white);
  z-index: 14;
  overflow-y: auto;
  overflow-x: hidden;
}
.modal-content {
  min-width: 100%;
  min-height: 100%;
  margin: 2rem 0;
  padding: 1rem 2rem;
}
.close-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 2rem 1rem;
  display: block;
}
.close-btn {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm-box-wrapper {
  position: fixed;
  inset: 0;
  z-index: 12;
  background-color: var(--white);
}
.heading-section {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0rem;
}
section h1 {
  text-align: center;
}
section {
  padding: 1rem 2rem;
}
.search-area {
  height: 3rem;
  width: 25rem;
}
.search-field input {
  height: 100%;
  width: 100%;
}
.search-field {
  height: 100%;
  width: 100%;
}
.card-buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 60%);
  gap: 0.25rem;
}
.button {
  width: fit-content;
  padding: 0.5rem 1.5rem;
  border: none;
  line-height: 1.5;
  border-radius: var(--roundedMedium);
}
button {
  cursor: pointer;
  font-weight: 600;
  outline: none;
  border: none;
}
.danger {
  background-color: #fd8a8a;
  color: var(--white);
}
.active {
  background-color: #00b09b;
}
.primary {
  color: var(--white);
  background-color: #805ad5;
}
@keyframes follow-the-leader {
  0% {
    -webkit-transform: rotate(0deg) translateY(-200%);
    transform: rotate(0deg) translateY(-200%);
  }

  60%,
  100% {
    -webkit-transform: rotate(360deg) translateY(-200%);
    transform: rotate(360deg) translateY(-200%);
  }
}

.follow-the-leader {
  height: 14px;
  position: relative;
  margin: 30px auto;
  width: 14px;
}

.follow-the-leader div {
  -webkit-animation: follow-the-leader 1.875s infinite backwards;
  animation: follow-the-leader 1.875s infinite backwards;
  background-color: #ffffff;
  border-radius: 100%;
  height: 100%;
  position: absolute;
  width: 100%;
}

.follow-the-leader div:nth-child(1) {
  -webkit-animation-delay: 0.15s;
  animation-delay: 0.15s;
  background-color: rgba(255, 255, 255, 0.9);
}

.follow-the-leader div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
  background-color: rgba(255, 255, 255, 0.8);
}

.follow-the-leader div:nth-child(3) {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: rgba(255, 255, 255, 0.7);
}

.follow-the-leader div:nth-child(4) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
  background-color: rgba(255, 255, 255, 0.6);
}

.follow-the-leader div:nth-child(5) {
  -webkit-animation-delay: 0.75s;
  animation-delay: 0.75s;
  background-color: rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 1023.98px) {
  :root {
    font-size: 82.5%;
  }
  .emp-list {
    --f-columns: 3;
    --f-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
  }
}
@media screen and (max-width: 767.98px) {
  :root {
    font-size: 75%;
  }
}
@media screen and (max-width: 600.98px) {
  .emp-list {
    --f-columns: 2;
    --f-gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--f-gap));
    margin-bottom: calc(-1 * var(--f-gap));
  }
}
