<section class="manager">
  <h1>MANAGER EMPLOYEES LIST</h1>
  <!-- <button ng-click="getEmployees()">Get Employees</button> -->
  <div class="heading-section">
    <div class="search-area">
      <div class="search-field">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-search"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <circle cx="10" cy="10" r="7"></circle>
          <line x1="21" y1="21" x2="15" y2="15"></line>
        </svg>

        <input
          type="text"
          ng-model="searchByNameTerm"
          ng-model-options="{debounce: 500}"
          data-placeholder="Search by name"
          placeholder="Search by name"
        />
      </div>
      <button class="button search-btn primary-button">Search</button>
    </div>
    <!-- <span>{{searchByNameTerm}}</span> -->
    <button
      class="create-btn primary-button"
      type="button"
      ng-click="handleAddEmployee()"
    >
      Add new employee
    </button>
  </div>
  <div class="emp-list">
    <emp-card
      ng-repeat="emp in employees | filter:searchByNameTerm"
      employee="emp"
      ng-click="handleCardClick()"
    ></emp-card>
  </div>
</section>
