<section class="manager">
  <h1>MANAGER EMPLOYEES LIST</h1>
  <!-- <button ng-click="getEmployees()">Get Employees</button> -->
  <div class="heading-section">
    <div class="search-area">
      <div class="search-field">
        <input
          type="text"
          ng-model="searchByNameTerm"
          ng-model-options="{debounce: 500}"
          data-placeholder="Search by name"
          placeholder="Search by name"
        />
      </div>
      <button class="search-btn primary-button">Search</button>
    </div>
    <!-- <span>{{searchByNameTerm}}</span> -->
    <button
      class="create-btn primary-button"
      type="button"
      ng-click="handleAddEmployee()"
    >
      Add new employee
    </button>
  </div>
  <div class="emp-list">
    <emp-card
      ng-repeat="emp in employees | filter:searchByNameTerm"
      employee="emp"
      ng-click="handleCardClick()"
    ></emp-card>
  </div>
</section>
