<div class="confirm-box-wrapper">
  <div class="content">
    <h1>{{$root.confirmBox.content.heading || "Notice"}}</h1>
    <div class="">
      <span>{{$root.confirmBox.content.notice || "Close this Notice"}}</span>
    </div>
    <div class="buttons">
      <button type="button" ng-click="$root.confirmBox.handleOkClick()">
        OK
      </button>
      <button type="button" ng-click="$root.confirmBox.handleCancelClick()">
        Cancel
      </button>
    </div>
  </div>
  <div class="confirm-box-backdrop"></div>
</div>
